@charset "UTF-8";
@import "common_mixin";

body {
  font-family: 'Microsoft YaHei';
  //background-color: #d9d9d9;
  background-color: #ffffff;
}

$li_height: 35px;
//li标签高度
$li_border_color: #ececec;
//li标签边框色
$li_bgcolor: #f5f5f5;
//li标签背景色
$li-color: #a4a4a4;
//li标签文字颜色
$li_font_size: 16px;
//li标签内文字大小
$input_style_height: $li_height*0.7;
//input输入框高度
$label_width: 85px;
//label宽度
$label_color: #333333;
//label文字颜色
#form {
  width: 100%;
  height: 100%;
}

/*表单组*/
.Xht_inputgroup {
  padding: 3%;

  /*不同类型表单的外层盒子*/
  li.Xht_inputgroup_li {
    position: relative;
    display: block;
    height: $li_height;
    line-height: $li_height;
    padding: 0 2%;
    margin: 5% auto;
    border: 1px solid $li_border_color;
    color: $li-color;
    background-color: $li_bgcolor;
    @include border-radius(3px);

    /*input输入框外层盒子*/
    .Xht_inputwrap {
      height: $li_height;
      line-height: $li_height;
      text-align: center;
      /*input框样式*/
      .Xht_input_style {
        height: $input_style_height;
        padding-top: ($li_height - $input_style_height)/2;
        font-size: $li_font_size;
        background-color: $li_bgcolor;
      }
    }

    /*label标签*/
    label.Xht_label {
      display: block;
      width: $label_width;
      text-align: left;
      color: #777777;
    }

    /*占一整行的input*/
    @at-root
    .whole_line {
      .Xht_inputwrap {
        width: 100%;
      }
    }

    /*一排有两个元素的input*/
    @at-root
    .two_element_inline {
      .Xht_inputwrap {
        float: left;
      }

      label.Xht_label {
        float: left;
      }
    }

    /*两排显示的input*/
    @at-root
    .Xht_inputgroup_li.two_line {
      /*input外层盒子*/
      .Xht_inputwrap {
        height: $li_height;
        line-height: $li_height;
        padding: 0 1%;
        margin: 1% 0;
        border: 1px solid $li_border_color;
        color: $li-color;
        @include border-radius(3px);
        /*input样式*/
        .Xht_input_style {
          width: 100%;
          height: $input_style_height;
          padding-top: ($li_height - $input_style_height)/2;
          font-size: $li_font_size;
        }
      }
    }

    .selectbox {
      p {
        display: block;
        width: auto;
        height: $li_height;
        line-height: $li_height;
      }

      /*展开小按钮*/
      .control {
        width: $li_height;
        height: $li_height;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        .selectBtn {
          position: absolute;
          top: 12px;
          left: 12px;
          width: 10px;
          height: 10px;
          border-left: 2px solid #a9a9a9;
          border-bottom: 2px solid #a9a9a9;
          @include transform(rotate(-45deg));
          @include transition(0.5s);
        }
      }

      .selectbox.open .control .selectBtn {
        @include transform(rotate(135deg));
        @include transition(0.5s);
      }

      /*下拉框*/
      ul.select {
        position: absolute;
        top: $li_height;
        right: 0;
        width: 70%;
        list-style-type: none;
        cursor: pointer;
        display: none;
        z-index: 1000;
      }
      .box.open ul.select {
        display: block;
      }

      ul.select li {
        display: block;
        //background-color: #a9a9a9;
        line-height: 30px;
        padding-left: 10px;
      }

      ul.select li:hover {
        background-color: #eeeeee;
      }
    }
    /*输入框和下拉框*/
    .Xht_input_style, .selectbox {
      width: 100%;
    }
  }
  /*性别选择*/
  #sex {
    word-spacing: 30px;
    .Xht_inputwrap {
      //padding-left: 8px;
    }
  }
}

/*/!*输入框和搜索按钮*!/
$search_input_height: 30px;
//搜索框input高度
$search_input_width: 200px;
//搜索框input宽度
$search_btn_width: 60px;
//搜索按钮的宽度

/!*搜索form样式*!/
form.Xht_form_search {
  margin: 10px auto;
  width: $search_btn_width+$search_input_width;
  border: 1px solid $btn_red_bgcolor;
}

/!*搜索外层盒子*!/
.Xht_search_wrap {
  position: relative;
  vertical-align: middle;
  height: $search_input_height;
  /!*搜索框input*!/
  input.Xht_input_search {
    width: $search_input_width;
    height: $search_input_height;
  }
  /!*搜索按钮*!/
  .Xht_btn_search {
    position: absolute;
    left: $search_input_width;
    top: 0;
    margin: 0;
    width: $search_btn_width;
    height: $search_input_height;
    background-color: $btn_red_bgcolor;
    @include border-radius(0);
    font-size: 14px;
  }
}*/

/*弹出框*/
$dialog_width: 400px;
//弹出框宽度
$dialog_header_height: 45px;
//弹出框头部高度
$dialog_content_height: 100px;
//弹出框内容高度
$dialog_header_height_mobile: 35px;
//弹出框手机版头部高度
$dialog_content_height_mobile: 100px;
//弹出框手机版内容高度
$dialog_warning_icon_size: 35px;
//弹出框警告图标大小
$dialog_colors: #ff6b6b;
//弹出框颜色
$dialog_hover_bgcolor: #EA6666;
//弹出框按钮滑入时颜色

/*对话框外层*/

.Xht_dialog {

}

$btn_height: 40px !default;

/*按钮组件*/
.Xht_btn {
  width: 100%;
  height: $btn_height;
  text-align: center;
  margin: 0.5em auto; //按钮的外边距，实际引用视情况而定
  cursor: pointer;
  font-size: 14px;
  @include border-radius(5px);
  @include transition(0.5s);
}

/*搜索按钮*/
$btn_icon_size: 25px;
//带有图标的按钮大小
$search_width: 60px;
$search_height: 35px;

/*搜索按钮通用样式*/
%Xht_btn_search {
  width: $search_width;
  height: $search_height;
  @include border-radius(3px);
}

/*带有图标的搜索按钮*/
.Xht_btn_search_icon {
  @extend %Xht_btn_search;
  background: url("../img/search-icon.png") no-repeat center;
  background-size: $btn_icon_size;
}

/*带有文字的搜索按钮*/
.Xht_btn_search_text {
  @extend %Xht_btn_search;
  font-size: 14px;
}

/*选中按钮*/
.Xht_btn_correct {
  background: url("../img/correct-icon.png") no-repeat center;
  background-size: $btn_icon_size;
}

/*删除按钮/错误按钮*/
.Xht_btn_error {
  background: url("../img/error-icon.png") no-repeat center;
  background-size: $btn_icon_size;
}

/*有背景色填充的按钮*/
@mixin Xht_btn($btn_color) {
  color: #ffffff;
  border: 1px solid $btn_color;
  background-color: $btn_color;
  &:hover {
    background-color: darken($btn_color, 5%);
  }
}

/*无背景色只有边框的按钮*/
@mixin Xht_btn_noBgColor($btn_color,$hoverBgColor) {
  color: #333333;
  border: 1px solid $btn_color;
  background-color: #ffffff;
  @if $hoverBgColor == true {
    //当$hoverBgColor属性为true时，滑入按钮才有背景色
    &:hover {
      background-color: darken($btn_color, 5%);
      color: #ffffff;
    }
  }

}

/*按钮类型*/
$Xht_btn_types: (
        blue : #1679ce,
        red : #ef4f4f,
        purple : #8b91ff,
        green : #22bf64,
        gray : #888888,
        correct: #22bf64,
        error: #e8566d
) !default;

/*循环遍历每种按钮*/
@each $btn_type, $btn_color in $Xht_btn_types {
  .Xht_btn_#{$btn_type} {
    @include Xht_btn($btn_color);
  }
  .Xht_btn_border_#{$btn_type} {
    @include Xht_btn_noBgColor($btn_color, false);
  }
}

/*一排两个按钮*/
.btn_count_two {
  font-size: 0;
  .Xht_btn {
    width: 46%;
    margin: 0 2%;
    &:nth-child(1) {
      float: left;
    }
    &:nth-child(2) {
      float: right;
    }
  }
}

/*一排三个按钮*/
.btn_count_three {
  font-size: 0;
  .Xht_btn {
    width: 28%;
    margin: 0 2.5%;
  }
}

/*弹出框*/
.Xht_dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  padding: 1em 0.7em 0.3em 0.7em;
  background-color: #ffffff;
  display: none;
  z-index: 10000;
  box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.2);
  @include border-radius(5px);

  /*关闭小图标*/
  .close_icon {
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    top: -25px;
    right: -25px;
    cursor: pointer;
    background: url("../img/close-icon.png") no-repeat center;
    z-index: 10000;
  }

  /*弹出框内容*/
  .Xht_dialog_content {
    text-align: center;
    h4 {
      color: #333333;
      margin: 13px auto;
      font-size: 18px;
    }
    p {
      color: #555555;
      font-size: 13px;
    }
    /*按钮*/
    .Xht_btn {
      width: 48%;
      height: 38px;
      line-height: 30px;
      margin: 20px 0 10px 0;
    }
  }
}

/*对话框头部*/
%Xht_dialog_header {
  padding: 0 12px;
  background-color: $dialog_colors;
  p {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
  }
}

/*通知框*/
.Xht_dialog_inform {
  width: 75%;
  padding: 0;
  .Xht_dialog_content {
    padding-top: 40px;
    margin: 1.8em 0;
  }
  .Xht_btn {
    background-color: transparent;
    border-top: 1px solid #dddddd;
    margin: 0;
    @include border-radius(0);
  }
}

/*等待框*/
@-webkit-keyframes loading {
  50% {
    @include transform(scale(0.6));
    @include opacity(0.4);
  }
  100% {
    @include transform(scale(1));
    @include opacity(1);
  }
}

%Xht_dialog_waiting {
  width: 60%;
  padding: 1.5em 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}

.Xht_dialog_inform.waiting {
  @extend %Xht_dialog_waiting;
  span.loading {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    i {
      position: absolute;
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #dddddd;
      &:nth-child(1) {
        top: 0;
        left: 25px;

        @include animation(loading 1s ease-in 0s infinite)
      }
      &:nth-child(2) {
        top: 6px;
        left: 12px;
        @include animation(loading 1s ease-in -0.12s infinite)
      }
      &:nth-child(3) {
        top: 18px;
        left: 7px;
        @include animation(loading 1s ease-in -0.24s infinite)
      }
      &:nth-child(4) {
        top: 32px;
        left: 12px;
        @include animation(loading 1s ease-in -0.36s infinite)
      }
      &:nth-child(5) {
        top: 36px;
        left: 25px;
        @include animation(loading 1s ease-in -0.48s infinite)
      }
      &:nth-child(6) {
        top: 32px;
        left: 40px;
        @include animation(loading 1s ease-in -0.6s infinite)
      }
      &:nth-child(7) {
        top: 19px;
        left: 47px;
        @include animation(loading 1s ease-in -0.72s infinite)
      }
      &:nth-child(8) {
        top: 7px;
        left: 40px;
        @include animation(loading 1s ease-in -0.84s infinite)
      }
    }
  }

  p {
    font-size: 13px;
    margin-top: 6px;
  }
}

.Xht_dialog.waiting_over {
  display: none;
  @extend %Xht_dialog_waiting;
  img {
    width: 40px;
    height: 40px;
  }
  p {
    margin-top: 12px;
    font-size: 13px;
  }
}

/*循环遍历每个通知框*/
$dialog_icon_list: success, failed, notice;
@each $dialog_icon in $dialog_icon_list {
  .Xht_dialog_inform.#{$dialog_icon} .Xht_dialog_content {
    background: url("../img/#{$dialog_icon}-icon.png") no-repeat top center;
  }
}

/*tab选项卡*/
.Xht_tabs {
  width: 99%; //宽度根据实际情况更改
  margin: 10px auto;
  /*选项卡菜单*/
  ul.Xht_tabs_menu {
    width: 100%;
    text-align: center;
    font-size: 0;
    margin: 0 auto;
    @include border-radius(3px);
    li {
      //width: 20%;
      display: inline-block;

      a {
        display: block;
        padding: 10px 0; //内边框根据实际情况更改
        font-size: 14px;
        cursor: pointer;

      }
    }
  }
  /*选项卡内容*/
  $Xht_tabs_content_height: 300px; //默认高度，可根据实际情况更改
  .Xht_tabs_content {
    width: 100%;
    position: relative;
    height: $Xht_tabs_content_height;
    overflow: hidden;
    .content_detail {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $Xht_tabs_content_height;
      display: none;
    }
  }
}

/*下边框类型*/
$Xht_tabs_underline: (
        black: #2d2f35,
        blue : #1679ce,
        red : #ef4f4f,
        purple : #8b91ff,
        green : #22bf64,
        gray : #888888,
) !default;
@each $underline_type, $underline_color in $Xht_tabs_underline {
  .Xht_tabs.Xht_tabs_underline_#{$underline_type} {
    .Xht_tabs_menu li a.active {
      /*当前选中的选项卡下边框颜色*/
      border-bottom: 2px solid $underline_color;
    }
  }
}

/*选项卡类型*/
$Xht_tabs_types: (
        black: #2d2f35,
        blue : #1679ce,
        red : #ef4f4f,
        purple : #8b91ff,
        green : #4cd964,
        gray : #888888,
        light_green:#66ccce,
        white: #ffffff,
) !default;

/*循环遍历每种选项卡*/
@each $tabs_type, $tabs_color in $Xht_tabs_types {
  .Xht_tabs_#{$tabs_type}_all .Xht_tabs_menu {
    /*每个选项都有背景色的*/
    background-color: $tabs_color;
    li a {
      color: #ffffff;
    }
  }
  /* 如果每个选项为白色背景,则增加灰色边框*/
  @if $tabs_type==white {
    .Xht_tabs_#{$tabs_type}_all .Xht_tabs_menu {
      border: 1px solid #dddddd;
      border-left: none;
      li a {
        color: #333333;
        border-left: 1px solid #dddddd;
      }
    }
  }
  /*只有当前选中项有背景色的ul边框色*/
  .Xht_tabs_#{$tabs_type}_active ul {
    border: 1px solid $tabs_color;
    border-left: none;
    li {
      a {
        color: $tabs_color;
        border-left: 1px solid $tabs_color;
      }
    }
    a.active {
      background-color: $tabs_color;
      color: #ffffff;
    }
  }
  .Xht_switch_#{$tabs_type}.Xht_switch_on {
    background-color: $tabs_color;
  }

}

/*面板*/
.Xht_panel {
  width: 100%;
  ul {
    li {
      position: relative;
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      background-color: #f0f4f5;
      color: #555555;
      border-bottom: 1px solid #dddddd;
    }
  }
}

/*单选框*/
$Xht_radio_color: #66ccce #3498DB #E74C3C #2ECC71 #bdc3c7;
//单选框备用颜色  青色、蓝色、红色、绿色、灰色
$Xht_radio_size: 14px;
$Xht_radio_checked_size: 6px;
$Xht_checkbox_width: 14px;
$Xht_checkbox_height: 14px;
.Xht_radio, .Xht_checkbox {
  /*单选框禁止输入时*/
  .Xht_radio_box.disabled, .Xht_checkbox_box.disabled .Xht_radio_content {
    color: nth($Xht_radio_color, 5);
  }
  /*每个单选框*/
  .Xht_radio_box, .Xht_checkbox_box {
    display: inline-block;
    padding: 0.2em 1em;
    color: #34495e;
    /*当输入框为单选框和多选框时*/
    input[type='radio'], input[type='checkbox'] {
      @include appearance(none);
      visibility: hidden;
    }
    /*单选图标*/
    .radio_icon, .checkbox_icon {
      position: relative;
      display: inline-block;
      width: $Xht_radio_size;
      height: $Xht_radio_size;
      border: 3px solid #dddddd;
      margin-top: 1px;
    }
    /*当前已选择的项图标*/
    input:checked + .radio_icon {
      border-width: 3px;
      border-style: solid;
      border-color: nth($Xht_radio_color, 2); //后面数字代表$Xht_radio_color变量中第几个
    }

    /*单选项内容*/
    .Xht_radio_content {
      float: left;
      font-size: 14px;
    }
  }

  /*单选框的图标样式*/
  .Xht_radio_box {
    input:checked + .radio_icon:before {
      content: '';
      display: block;
      position: absolute;
      width: $Xht_radio_checked_size;
      height: $Xht_radio_checked_size;
      top: ($Xht_radio_size - $Xht_radio_checked_size)/2;
      left: ($Xht_radio_size - $Xht_radio_checked_size)/2;
      @include border-radius(50%);
      background-color: nth($Xht_radio_color, 2); //后面数字代表$Xht_radio_color变量中第几个
    }
  ;
    .radio_icon {
      @include border-radius(50%);
    }
  ;
  }
  /*复选框的图标样式*/
  .Xht_checkbox_box {
    input:checked + .checkbox_icon {
      background-color: nth($Xht_radio_color, 3);
      border: 3px solid nth($Xht_radio_color, 3);
    }
    input:checked + .checkbox_icon:before {
      content: '';
      display: block;
      position: absolute;
      width: $Xht_checkbox_width;
      height: $Xht_checkbox_height;
      background: url("../img/correct-icon.png") no-repeat center;
      background-size: 12px;
    }
  ;
    .checkbox_icon {
      @include border-radius(3px);
    }
  }
}

/*一排一个选项*/
.one_row .Xht_radio_box, .one_row .Xht_checkbox_box {
  display: block;
  margin: 0.5em 0;
}

/*图标在后面*/
.icon_after .Xht_radio_box .radio_icon, .icon_after .Xht_checkbox_box .checkbox_icon {
  float: right;
}

/*图标在前面*/
.icon_front .Xht_radio_box, .icon_front .Xht_checkbox_box {
  .radio_icon, .checkbox_icon {
    float: left;
  }
  .Xht_radio_content {
    padding-left: 1.2em;
  }
}

/*开关*/
.Xht_switch {
  position: relative;
  display: block;
  font-size: 0;
  width: 50px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  @include border-radius(15px);
  /*圆圈按钮*/
  i {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    @include border-radius(50%);
  }
}

/*默认为关闭图标*/
.Xht_switch.switch_close_default {
  text-align: left;
}

/*关闭图标*/
.Xht_switch_close {
  background-color: #ffffff;
  border: 1px solid #ddd;
  i {
    float: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
  }
}

/*打开图标*/
.Xht_switch_on {
  background-color: #4cd964;
  color: #ffffff;
  border: 1px solid #eeeeee;
  i {
    float: right;
    margin-right: 2px;
    margin-top: 1px;
  }
}

/*底部菜单*/
.Xht_bottom_menu {
  position: fixed;
  margin: 0 auto;
  z-index: 10000;
  li {
    display: block;
    text-align: center;
    background-color: #ffffff;
    font-size: 18px;
    @include border-radius(8px);
    .delete {
      color: #fc4c31;
    }
    .describe {
      height: 40px;
      line-height: 40px;
      color: #dddddd;
      font-size: 14px;
      border-bottom: 1px solid #dddddd;
    }
    a {
      display: block;
      height: 50px;
      line-height: 50px;
      color: #1C89FF;
    }
  }
}

.bottom_menu_default {
  width: 92%;
  left: 3%;
  right: 3%;
  bottom: -150px;
  li.cancel {
    margin: 8px 0;
  }
}

.bottom_menu_whole_line {
  width: 100%;
  bottom: -255px;
  left: 0;
  right: 0;
  li {
    @include border-radius(0);
    &.cancel {
      margin-top: 5px;
    }
    a {
      color: #333333;
    }
  }
}

/*侧滑菜单*/
.Xht_side_menu_box{
  width: 100%;
  overflow: hidden;
}
.Xht_side_menu {
  float: left;
  background: #292b3a;
  .user_info {
    padding: 30px 0 15px 0;
    text-align: center;
    img {
      @include border-radius(50%);
      width: 100px;
      height: 100px;
    }
    h1 {
      font-size: 18px;
      color: #dddddd;
    }
  }

  ul {
    li {
      padding-left: 20px;

      a {
        display: block;
        height: 55px;
        line-height: 55px;
        color: #dddddd;
        padding-left: 40px;
        border-bottom: 1px solid #eeeeee;
        background: url("../img/home_icon.png") no-repeat left center;
        background-size: 25px;
      }
    }
  }
}

.Xht_side_menu_wrapper {
  width: 4000px;
  margin-left: -80%;
  .main {
    float: left;
    .header {
      height: 40px;
      background: #146bb7;
      i.open_icon {
        display: block;
        width: 30px;
        height: 30px;
        background: url("../img/open_icon.png") no-repeat left center;
        padding-top: 10px;

      }
    }
    .content{
      width: 100%;
      height: 600px;
      background-color: #eeeeee;
    }
  }
}

/*遮罩层*/
.mask {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  //display: none;
  width: 100%;
  height: 100%;
  z-index: 9999;
}








